<ion-view view-title="Contact Us">
  <ion-content>
    <div class="card">
    	<div class="item item-divider">
    		Location Information
    	</div>
    	<div class="item item-text-wrap">
    		<h2>Our Address</h2>
    		<p>121, Clear Water Bay Road<br/>
    		Clear Water Bay, Kowloon <br/>
    		HONG KONG</p>
    	<ion-icon class="ion-android-call"></ion-icon>: +852 1234 5678<br>
    	<ion-icon class="ion-printer"></ion-icon>: +852 8765 4321<br>
    	<ion-icon class="ion-email"></ion-icon>: <a href="mailto:confusion@food.net">confusion@food.net</a>
	    	
    	<div class="button-bar">
    		<a class="button button-positive"><ion-icon class="icon ion-android-call"></ion-icon>Call</a>
    		<a class="button button-calm"><ion-icon class="icon ion-social-skype">Skype</a>
    		<a class="button button-balanced"><ion-icon class="icon ion-email">Email</a>
    	</div>
	    	
    	</div> <!-- item -->
    </div>
  </ion-content>
</ion-view>
